<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49012456078-v4pqdupo9gmnbo9nhucislmhhqke8t4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49012456078-v4pqdupo9gmnbo9nhucislmhhqke8t4c</string>
	<key>API_KEY</key>
	<string>AIzaSyCs1nDfOdJnMggDqolHvXpPS96jVKs-E-w</string>
	<key>GCM_SENDER_ID</key>
	<string>49012456078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projecteTest</string>
	<key>PROJECT_ID</key>
	<string>pdm2022-c0dcb</string>
	<key>STORAGE_BUCKET</key>
	<string>pdm2022-c0dcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49012456078:ios:4fb372e2d0c7ac115ba7df</string>
	<key>DATABASE_URL</key>
	<string>https://pdm2022-c0dcb-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>